<!--

COLORs:
  DARK BLUE : #2D313D;
  TEXT LIGHT : #EFF1D2;
  TEXT DARK : #2D313D;
  LINK ORANGE : #F0563E;
  DARK BLACK : #212020;

-->

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>IGDev :: Communauté Francophone de créateurs de jeux vidéos</title>
  </head>

  <body>
    <div id="app">
      <md-toolbar md-elevation="1" class="toolbar">
        <span class="md-display-1 logo-font" style="flex: 1">IGDev</span>
        <a href="https://discord.gg/BYxYXRW"><i class="fab fa-discord"> <md-tooltip md-delay="300">REJOINDRE LE DISCORD</md-tooltip></i></a>
      </md-toolbar>

      <md-content class="header">
        <div>
          <span class="md-display-4 logo-font">IGDev</span>
          <span class="md-display-1">Communauté Francophone de créateurs de jeux vidéos</span>
          <span class="md-subheading">Rejoins nous et partage tes créations avec toute la communauté.</span>
          <md-button class="md-dense md-raised" v-on:click="say('J\'AI DIS BIENTÔT !! ALORS TU TE CALMES !!')">{{message}}</md-button>
        </div>
      </md-content>

      <md-bottom-bar class="footer" md-sync-route>
        <span>Fais avec <i class="fas fa-heart"></i> <a href="https://fr.vuejs.org">Vue.JS</a> & <a href="https://vuematerial.io">Vue MATERIAL</a>.</span>
      </md-bottom-bar>
    </div>

    <style lang="scss" scoped>

      #app a {
        text-decoration:none;
        color:#F0563E;
      }

      #app .logo-font {
        font-family: 'Righteous', cursive;
        color:#EFF1D2;
      }

      #app > .toolbar {
        background-color:#EFF1D2;
        color:#212020;
      }

      #app > .toolbar > span {
        color:#212020;
      }

      #app > .toolbar > a {
        display:flex;
        align-items:center;
      }

      #app > .toolbar > a > i {
        font-size:3em;
        color:#F0563E;
        padding:0 0.25em;
        transition:.5s ease-in-out;
      }

      #app > .toolbar > a > i:hover{
        color:#2D313D;
        transform: rotate(360deg);
        transition:.5s ease-in-out;
      }

      .md-content.header {
        width: 100%;
        height: calc(100vh - 64px - 56px); /* 700px */
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color:#2D313D!important;
        color:#EFF1D2!important;
      }

      .header > div > * {
        margin: .25em 0;
        display: block;
        text-align:center;
      }

      .header > div > .md-button.md-raised.md-dense {
        margin:4.25em auto;
        background-color:#EFF1D2;
        color:#2D313D;
      }

      .header > div > button > .md-ripple {
        padding:0 2em;
      }

      .header > div > .md-display-1 {
        color:#F0563E;
      }


      .md-content.header {
        background-color: #2d313d;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23262a34' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
        background-size: auto auto;
      }

      .md-bottom-bar.footer {
        background-color:#212020!important;
        color:#EFF1D2;
        height:56px;
      }

      .md-bottom-bar.footer span {
        width:100%;
        text-align:center;
        line-height:4em;
        font-weight: 700;
      }

      .md-bottom-bar.footer span > i {
        color:#DC143C;
        font-size:1.5em;
        padding:0 0.20em;
      }



    </style>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    <script>
      Vue.use(VueMaterial.default)

      new Vue({
        el: '#app',
        data:{
          message: "On arrive bientôt..."
        },
        methods: {
          say: function (message) {
            alert(message)
          }
        }
      })
    </script>
    <script>
      export default {
        name: 'MaterialIcons'
      }
    </script>

  </body>
</html>
